#Comments {
	position: absolute;
	left: 30%;
	top: 10%;
	width: 80%;
	height: 100%;
	max-width: 900px;
	min-width: 200px;
	min-height: 100px;
	max-height: 700px;
}
.Comment {
	font-size: 14pt;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 5px;
	left: 850px;
	width: 80%;
	max-width: 900px;
	min-width: 200px;
	background-color: rgba(10, 10, 10, 0.1);
}
#CreateNotePageBtn{
	position: fixed;
	left: 1%;
	top: 20%;
	background: #f2f6f8;
	border: 1px solid #7a7b7e;
	width: 160px;
	height: 50px;
	border-radius: 5px;
	font-size: 14pt;
}